<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard UI</title>
    <link rel="stylesheet" href="public/assets/login.css">
    <script type="module" src="public/login.js"></script>
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>