@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import './base.css';
@import "tailwindcss";
@import "tailwindcss-primeui";


body{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsla(0, 0%, 100%, 1);
    color: hsla(0, 0%, 0%, 1);
}

#app {
  width: 100%;
  height: auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {

  }
}
